<main>
  <div class="album py-5 bg-light">
    <div class="row text-center justify-content-md-center">
      <div class="col-md-2">
        <h2>Registrar</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions" style="padding-top: 10px;">
            <%= f.submit "Registrar", class: "btn btn-lg btn-primary btn-block" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</main>