<div class="card shadow-sm m-2 col-md-2 h-250">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="20" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:
    Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
  </svg><%= image_tag book.image_url, class: 'img-fluid h-75' %>
  <div class="card-body">
    <p class="card-text"><%= book.title %>
      <br>
      <small class="text-muted"><%= book.author %></small>
    </p>
    <div class="d-flex justify-content-between align-items-right">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          <%= link_to 'Detalhes', book, style: 'color: gray' %>
        </button>
      </div>
    </div>
  </div>
</div>