<%= form_with(model: book) do |form| %>
 <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

  <div class='row'>
    <div class='col'>
      <div class="field">
        <%= form.label 'Título' %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label 'Autor' %>
        <%= form.text_field :author, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label 'Páginas' %>
        <%= form.text_field :pages, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label 'Categoria' %>
        <%= form.text_field :category, class: "form-control" %>
      </div>
      <div class="field">
        <%= form.label 'URL da Imagem' %>
        <%= form.text_field :image_url, class: "form-control" %>
      </div>
    </div>
    <div class='col'>
      <div class="field">
        <%= form.label 'Descrição' %>
        <%= form.text_area :description, class: "form-control", rows: '8' %>
      </div>

        <div class="actions float-end" style="padding-top: 35px; ">
          <%= form.submit 'Adicionar', class: "btn btn-outline-primary"%>
        </div>
    </div>
  </div>
<% end %>