<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div style="padding-top: 50px;">
        <div class="row" width="100%" data-controller="search">
          <div class="col-md-12">
            <%= form_with(url: "/", method: :get, data: {action: "input->search#submit"}) do |form| %>
              <%= label_tag(:query, "Filtrar") %>
              <%= text_field_tag(:query, params[:query], data: {target: "search.query"}) %>
              <%= label_tag(:query, "Ordenar por Título:") %>
              <%= form.radio_button :order, "ASC", data: {target: "search.order"} %>
              <%= form.label :age_child, "A-Z" %>
              <%= form.radio_button :order, "DESC", data: {target: "search.order"} %>
              <%= form.label :age_adult, "Z-A" %>
            <% end %>
          </div>

          <div style="padding-top: 50px;">
              <div class="row row-cols-md-4 g-2" id="books" data-search-target="books">
                <%= render @books %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>