<main>
  <div class="album py-5 bg-light">
    <div style="padding-top: 20px;">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2>Novo Livro</h2>

          <%= render 'form', book: @book %>
        </div>
      </div>
    </div>
  </div>
</main>
