<main>
  <div class="album py-5 bg-light">
    <div style="padding-top: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag @book.image_url, size: "230x330" %>
          </div>

          <div class="col-md-9">
            <br>
            <h3>
              <strong><%= @book.title %></strong>
            </h3>
            <p>
              <strong>Autor:</strong>
              <%= @book.author %>
            </p>
            <p>
              <%= @book.description %>
            </p>
            <p>
              <strong>Páginas:</strong>
              <%= @book.pages %>
            </p>
            <p>
              <strong>Categoria:</strong>
              <%= @book.category %>
            </p>

            <div style="padding-top: 50px;">
              <% if admin_signed_in? %>
              <%= link_to 'Editar', edit_book_path(@book), class: 'btn btn-outline-secondary' %>
              <%= link_to 'Remover', @book, method: :delete, data: { confirm: 'Confirma remoção?' }, class: 'btn btn-outline-danger' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<main>