<main>
  <div class="album py-5 bg-light">
    <div class="row text-center justify-content-md-center">
      <div class="col-md-2">
        <h2>Entrar</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password, 'Senha'%><br />
            <%= f.password_field :password , autocomplete: "current-password", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, 'Salvar login' %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Entrar", class: "btn btn-lg btn-primary btn-block" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</main>
