<main>
  <div class="album py-5 bg-light">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"> Projeto Catálogo de Livros</h1>
        <p class="lead text-muted">Este projeto é um desafio técnico proposto pela Zygo em seu processo seletivo para vaga de backend, no qual é necessário construir um sistema simples onde usuários podem acessar e buscar por livros.</p>
        <p>
          <a href="https://github.com/zygotecnologia/zygo-programming-challenges/tree/master/developer/pleno" class="btn btn-primary my-2">Desafio</a>
          <a href="https://gitlab.com/pperussi/books_catalog" class="btn btn-secondary my-2">Código Fonte</a>
        </p>
      </div>
    </div>
  </div>
  </section>
<main>


