<!DOCTYPE html>
<html>

<head>
  <title>Books Catalog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm align-items-center d-flex">
      <div class="container">
        <a href="/" class="navbar-brand ">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-book" viewBox="0 0 16 16">
            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
          </svg>
          <strong href="/">Catálogo de Livros</strong>
        </a>
        <p class="float-end" style="padding-top: 15px;">
        <% if admin_signed_in? %>
          <%= link_to 'Novo Livro', new_book_path, style: 'color: white', class: "btn btn-secondary"%>
          <%= link_to 'Sair', destroy_admin_session_path, method: :delete, style: 'color: white', class: "btn btn-secondary"%>
          <% else %>
          <%= link_to 'Entrar', new_admin_session_path, style: 'color: white', class: "btn btn-secondary"%>
          <% end %>
        </p>
      </div>
    </div>
  </header>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <%= link_to 'Sobre', about_index_path, class: "btn btn-outline-primary"%>
      </p>
      <p class="mb-1">Paula Perussi &copy; Copyleft - Creative Commons</p>
    </div>
  </footer>

  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>
